const config = {
  repeatCount: 1000, // 반복 횟수

  increaseGas: 1.3, // 평균 가스비 멀티플 

  sleepTime: 1000, // 민팅 트랜잭션 간격

  payPrice: "0",

  privateKey: "", // 지갑 프라이빗 키 (새로운 지갑을 만드는걸 추천)

  receiveAddress: "",

  //
  //tokenJson: 'data:,{"p":"fair-20","op":"mint","tick":"fair","amt":"1000"}',
  tokenJson: 'data:,{"p":"zrc-20","op":"mint","tick":"sync","amt":"4"}',

  rpcUrl: "https://mainnet.era.zksync.io",
};

module.exports = config;
